.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-link {
  font-family: 'Roboto';
  text-decoration: none;
  margin: 5px;
  font-weight: 300;
  font-size: 16px;
  color: #475569;
}

.logout-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  padding: 10px 20px;
  color: white;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  margin-top: 35px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .logout-btn {
    display: none;
  }
}

.link-container {
  margin-top: 30px;
}

.link {
  font-size: 20px;
  color: #475569;
  text-decoration: none;
}
