
.employee-table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Set table width */
}

.employee-table th,
.employee-table td {
  border: 1px solid #ddd; /* Add border to table cells */
  padding: 8px; /* Add padding to table cells */
  text-align: left; /* Align text to the left */
}

.employee-table th {
  background-color: #f2f2f2; /* Add background color to table header cells */
}

.list-element {
  list-style-type: none;
  list-style-position: inside;
}