.new-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new-login-card {
  padding: 30px;
  border: 1px solid black;
  background-color: aqua;
}

.label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.gender-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.course-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
